@font-face {
    font-family: Mercado;
    src: url('../font/proximanova-light.woff2');
}

body {
    font-family: Mercado;
}

.TamañoDeImgDeNavPromocionDisney{
    width: 25rem;
}
.TamañoDeImgLogoDeMercandoLibre{
    height: 3rem;
    width: 8rem;
}
.TamañoDeImgCitibanamex{
    height: 4rem !important;
    width: 8rem !important;
}
.TamañoDeCardCirculo{
    height: 4rem;
    width: 4rem;
}
.TamañoDeBotonCirculo{
    height: 2rem;
    width: 2rem;
}
.ColorUl{
    background-color: blueviolet;
}
.TamañoDeImgMeli{
    height: 3rem;
    width: 5rem;
}
.TamañoDeCarrito{
    height: 2rem;
    width: 2rem;
}
.TamañodeCirculoDeCarrito{
    height: 4rem;
    width: 4rem;
}
.ColorTransparente{
    background:rgba(138,221,45,0) !important;
}
.ColorNegroFondoDeCafe{
    background-color: black !important;
}
.TamañoDeImgPerro{
    height: 11rem;
}
.TamañoDeCardtodasImg{
height: 4rem;

}
