.bg-yellow{
    background: #fff159;
}

.btn-nav{
    color: #777777;
    background: none;
    border: none;
    font-size: 0.9rem;
}

.btn-nav:hover {
    color: #000;
    background: none;
    border: none;
    font-size: 0.9rem;
}
.btn-nav:focus {
    color: #000;
    background: none;
    border: none;
    font-size: 0.9rem;
}

.siz{
    font-size: 15px;
    margin-bottom: 7px;
}