.bg-yellow{
    background: #fff159;
}

.btn-nav{
    color: #857b7b;
    background: none;
    border: none;
    font-size: 0.9rem;
}

.btn-nav:hover {
    color: #000;
}

.siz{
    font-size: 15px;
    margin-bottom: 7px;
}

.btn-dark:hover{
    background: #0099e0;
}