.TamañoDeImgDeNavPromocionDisney{
    width: 25rem;
}
.TamañoDeImgLogoDeMercandoLibre{
    height: 3rem;
    width: 8rem;
}
.TamañoDeImgCitibanamex{
    height: 4rem !important;
    width: 8rem !important;
}
.TamañoDeCardCirculo{
    height: 4rem;
    width: 4rem;
}
.TamañoDeBotonCirculo{
    height: 2rem;
    width: 2rem;
}